# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
*.egg-info/
dist/
build/

# Django
backend/db.sqlite3
backend/staticfiles/
backend/media/

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
*.swp

# Env
.env
.env.local
